<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxshop.Mapper.CartMapper">

<!--    动态插入购物车-->
    <insert id="addCart" parameterType="com.yxshop.Entity.Pojo.Cart">
        INSERT INTO cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cart_id != null">cart_id,</if>
            <if test="user_id != null">user_id,</if>
            <if test="product_id != null">product_id,</if>
            <if test="product_list != null">product_list,</if>
            <if test="coupon_code != null">coupon_code,</if>
            <if test="discount != null">discount,</if>

        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cart_id != null">#{cart_id},</if>
            <if test="user_id != null">#{user_id},</if>
            <if test="product_id != null">#{product_id},</if>
            <if test="product_list != null">#{product_list},</if>
            <if test="coupon_code != null">#{coupon_code},</if>
            <if test="discount != null">#{discount},</if>

        </trim>
    </insert>

<!--动态修改购物车信息-->
    <update id="updateCart" parameterType="com.yxshop.Entity.Pojo.Cart">
        UPDATE cart
        <set>
            <if test="product_id != null">product_id = #{product_id},</if>
            <if test="product_list != null">product_list = #{product_list},</if>
            <if test="coupon_code != null">coupon_code = #{coupon_code},</if>
        </set>
        WHERE user_id = #{user_id}
    </update>
</mapper>